ion-content {
	--background: transparent;
	.main-div {
		padding: 22px;
		form {
			ion-list {
				width: 100%;
				padding: 0px 0px 20px;
				ion-item {
					width: 100%;
					position: relative;
					--border-width: 0px;
					--border-color: transparent;
					padding:0 0 10px 0;
					ion-input {
						font-size: 16px;
                        color: var(--Black);
                        font-family: var(--font-Roboto-Regular);
                        border-bottom: 1px solid #000;
                        --padding-top: 0;
                        --padding-bottom: 0;
                        --placeholder-color: #000;
					    --placeholder-font-style: initial;
					    --placeholder-font-weight: initial;
					    --placeholder-opacity: 1;
                        @media(max-width:374px) {
                            font-size: 14px;
                        }
					}
					ion-textarea {
						font-size: 16px;
                        color: var(--Black);
                        font-family: var(--font-Roboto-Regular);
                        border-bottom: 1px solid #000;
                        --padding-top: 0;
                        --padding-bottom: 0;
                        --placeholder-color: #000;
					    --placeholder-font-style: initial;
					    --placeholder-font-weight: initial;
					    --placeholder-opacity: 1;
                        @media(max-width:374px) {
                            font-size: 14px;
                        }
					}
					ion-select {
						font-size: 16px;
                        color: var(--Black);
                        font-family: var(--font-Roboto-Regular);
                        border-bottom: 1px solid #000;
                        --padding-top: 0;
                        --padding-bottom: 0;
                        --placeholder-color: #000;
					    --placeholder-font-style: initial;
					    --placeholder-font-weight: initial;
					    --placeholder-opacity: 1;
                        @media(max-width:374px) {
                            font-size: 14px;
                        }
					}
					ion-icon {
						position: absolute;
					    top: 13px;
					    right: 15px;
					    width: 24px;
					    height: 24px;
					    line-height: 24px;
					    color: var(--Black);
					    z-index: 2;
					    @media(max-width:374px) {
					    	top: 10px;
					    }
					}
					&:last-child {
						border-radius: 0px 0px 12px 12px;
						ion-input {
                    		border-color: transparent;
                    	}
                    }
				}
			}
			ion-button {
				width: 100%;
                max-width: 100%;
                min-width: 100%;
                font-size: 20px;
                height: 51px;
                line-height: 51px;
                --border-radius: 30px;
                border-radius: 30px;
                border: 1px solid #fff;
                text-transform: capitalize;
                letter-spacing: normal;
                --box-shadow: none;
                font-family: var(--font-Roboto-Bold);
                margin: 0px;
                --padding-start: 20px;
                --padding-end: 20px;
                position: relative;
                --background-activated: #D12031;
                --background-focused: #D12031;
                --background-hover: #D12031;
                --color-activated: #ffffff;
                --color-focused: #ffffff;
                --color-hover: #ffffff;
                @media(max-width:374px) {}
			}
		}
	}
}