<ion-header class="most-used-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" slot="start">
        <img class="logo-main" src="../../assets/images/menu-icon.svg">
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Checkout</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-div">
    <p [innerHTML]="checkout_top_note"></p>
    <ion-accordion-group *ngIf="resultUserData.length == 0">
      <ion-accordion value="colors" toggle-icon="arrow-down-circle">
        <ion-item slot="header" class="accordian-title">
          <ion-label slot="start">RETURNING CUSTOMER?</ion-label>
        </ion-item>
        <ion-list slot="content" class="login-form">
          <ion-item lines="none">
            <form [formGroup]="loginForm" (ngSubmit)="makeMeLoggedin(loginForm.value)">
              <ion-list lines="none"> 
                <ion-item no-line color="light">
                  <ion-input type="email" placeholder="EMAIL ADDRESS" formControlName="username" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"></ion-input>
                </ion-item>      
                <ion-item no-line color="light">
                  <ion-input [type]="passwordType" placeholder="PASSWORD" formControlName="password"></ion-input>
                  <ion-icon [name]="passwordIcon" (click)='hideShowPassword()'></ion-icon>
                </ion-item>
              </ion-list>
              <ion-button type="submit" color="primary" expand="block" [disabled]="!loginForm.valid">SIGN IN</ion-button>
            </form>
          </ion-item>
        </ion-list>
      </ion-accordion>      
    </ion-accordion-group>
    <ion-accordion-group>
      <ion-accordion value="colors" toggle-icon="arrow-down-circle">
        <ion-item slot="header" class="accordian-title">
          <ion-label slot="start">HAVE A COUPON?</ion-label>
        </ion-item>
        <ion-list slot="content" class="login-form">
          <ion-item lines="none">
            <form [formGroup]="couponForm" (ngSubmit)="applyCoupon(couponForm.value)">
              <ion-list lines="none"> 
                <ion-item no-line color="light">
                  <ion-input type="text" placeholder="Coupon code" formControlName="coupon_code"></ion-input>
                </ion-item>                
              </ion-list>
              <ion-button type="submit" color="primary" expand="block" [disabled]="!couponForm.valid">APPLY COUPON</ion-button>
            </form>
          </ion-item>
        </ion-list>
      </ion-accordion>      
    </ion-accordion-group>
    <h1>BILLING DETAILS</h1>
    <form [formGroup]="checkoutForm" (ngSubmit)="PlaceOrder(checkoutForm.value)">
      <ion-list lines="none">      
        <ion-item no-line>
          <ion-label position="floating">First Name<span>*</span></ion-label>
          <ion-input type="text" formControlName="billing_first_name"></ion-input>       
        </ion-item>
        <ion-item no-line>
          <ion-label position="floating">Last Name<span>*</span></ion-label>
          <ion-input type="text" formControlName="billing_last_name"></ion-input>       
        </ion-item>
        <ion-radio-group formControlName="billing_delivery_location" (ionChange)="selectedDeliveryLocation($event)">
          <ion-list-header>
            <ion-label>* Delivery Location</ion-label>
          </ion-list-header>
          <ion-item *ngFor="let deliverylocation of objDeliveryLocationsArray | keyvalue">
            <ion-label>{{deliverylocation.value}}</ion-label>
            <ion-radio slot="start" value="{{deliverylocation.value}}"></ion-radio>
          </ion-item>          
        </ion-radio-group>
        <ion-item no-line>
          <ion-label position="floating">Street Address<span>*</span></ion-label>
          <ion-input type="text" formControlName="billing_address"></ion-input>       
        </ion-item>
        <ion-item no-line>
          <ion-label position="floating">Town / City<span>*</span></ion-label>
          <ion-input type="text" formControlName="billing_city"></ion-input>       
        </ion-item>        
        <ion-item no-line>
          <ion-label position="floating">Province<span>*</span></ion-label>
          <!-- <ion-select formControlName="billing_province" placeholder="Please select option" selectedText="{{userProvince}}"> -->
          <ion-select formControlName="billing_province" selectedText="{{userProvince}}">
            <ion-select-option *ngFor="let provinceoption of objProvinceArray | keyvalue" value="{{provinceoption.key}}">{{provinceoption.value}}</ion-select-option>            
          </ion-select>
        </ion-item>
        <ion-item no-line>
          <ion-label position="floating">Postcode / Zip<span>*</span></ion-label>
          <ion-input type="number" formControlName="billing_zipcode"></ion-input>       
        </ion-item>
        <ion-item no-line>
          <ion-label position="floating">Phone<span>*</span></ion-label>
          <ion-input type="tel" formControlName="billing_phone"></ion-input>       
        </ion-item>
        <ion-item no-line>
          <ion-label position="floating">Email Address<span>*</span></ion-label>
          <ion-input type="email" formControlName="billing_email"></ion-input>       
        </ion-item>
        <ion-item no-line *ngIf="resultUserData.length == 0">
          <ion-label position="floating">Account username<span>*</span></ion-label>
          <ion-input type="text" formControlName="username"></ion-input>       
        </ion-item>
        <ion-item no-line *ngIf="resultUserData.length == 0">
          <ion-label position="floating">Create account password<span>*</span></ion-label>
          <ion-input type="password" formControlName="password"></ion-input>       
        </ion-item> 
        <ion-item no-line (click)="show_hide_shipping()"> 
          <ion-checkbox [(ngModel)]="shippint_to_different_address" [ngModelOptions]="{standalone: true}"></ion-checkbox>
          <ion-label>SHIP TO A DIFFERENT ADDRESS</ion-label>               
        </ion-item>
        <!--SHIPPING ADDRESS-->
        <ion-item no-line *ngIf="this.shippint_to_different_address == true">
          <ion-label position="floating">First Name<span>*</span></ion-label>
          <ion-input type="text" formControlName="shipping_first_name"></ion-input>       
        </ion-item>
        <ion-item no-line *ngIf="this.shippint_to_different_address == true">
          <ion-label position="floating">Last Name<span>*</span></ion-label>
          <ion-input type="text" formControlName="shipping_last_name"></ion-input>       
        </ion-item>
        <ion-item no-line *ngIf="this.shippint_to_different_address == true">
          <ion-label position="floating">Street Address<span>*</span></ion-label>
          <ion-input type="text" formControlName="shipping_address"></ion-input>       
        </ion-item>
        <ion-item no-line *ngIf="this.shippint_to_different_address == true">
          <ion-label position="floating">Town / City<span>*</span></ion-label>
          <ion-input type="text" formControlName="shipping_city"></ion-input>       
        </ion-item>
        <ion-item no-line *ngIf="this.shippint_to_different_address == true">
          <ion-label position="floating">Province<span>*</span></ion-label>
          <!-- <ion-select formControlName="shipping_province" placeholder="Please select option"> -->
          <ion-select formControlName="shipping_province">
            <ion-select-option *ngFor="let provinceoption of objProvinceArray | keyvalue" value="{{provinceoption.key}}">{{provinceoption.value}}</ion-select-option>            
          </ion-select>
        </ion-item>      
        <ion-item no-line *ngIf="this.shippint_to_different_address == true">
          <ion-label position="floating">Postcode / Zip<span>*</span></ion-label>
          <ion-input type="number" formControlName="shipping_zipcode"></ion-input>       
        </ion-item>
        <ion-item no-line *ngIf="this.shippint_to_different_address == true">
          <ion-label position="floating">Phone<span>*</span></ion-label>
          <ion-input type="tel" formControlName="shipping_phone"></ion-input>       
        </ion-item>
        <ion-item no-line *ngIf="this.shippint_to_different_address == true">
          <ion-label position="floating">Email Address<span>*</span></ion-label>
          <ion-input type="email" formControlName="shipping_email"></ion-input>       
        </ion-item>        
        <!--SHIPPING ADDRESS--> 
        <ion-item no-line>
          <ion-label position="floating">Order Notes (Optional)</ion-label>  
          <ion-textarea rows="5" formControlName="billing_order_notes"></ion-textarea>
        </ion-item>      
        <!--PAYMENT METHOD--> 
        <ion-radio-group formControlName="payment_method" no-padding>
          <ion-list-header no-padding>
            <ion-label>* Select payment type to proceed</ion-label>
          </ion-list-header>
          <ion-item no-padding>
            <ion-label>Secure online Payments via Netcash</ion-label>
            <ion-radio slot="start" value="netcash"></ion-radio>
          </ion-item>          
          <ion-item no-padding>
            <ion-label>Transaction Junction</ion-label>
            <ion-radio slot="start" value="transactionjunction"></ion-radio>
          </ion-item>        
        </ion-radio-group>      
      </ion-list>      
      <ion-button color="primary" type="submit" [disabled]="!checkoutForm.valid" *ngIf="objOrderArray.length == 0">PLACE ORDER</ion-button>      
    </form>
  </div>
</ion-content>
