<ion-header class="most-used-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button auto-hide="false" slot="start" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Orders Detail</ion-title>
    <ion-button slot="end" routerDirection="root" routerLink="/search">
      <ion-icon name="search-outline"></ion-icon>
    </ion-button>
    <ion-button slot="end" class="cart-btn" routerDirection="root" routerLink="/cart">
      <img src="../../assets/images/cart-trolley-icon1.svg">
      <span class="cart-item-no">{{number_of_products_in_cart}}</span>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-div">
    <div class="ord-dt">
      <p><span>Order No.</span>{{orderDetails.id}}</p>
      <p><span>Ordered</span>{{orderDetails.date_created | date: 'dd/MM/YYYY'}}</p>
      <!-- <div class="box">
        <span>Order No.</span>{{orderDetails.id}}
      </div>
      <div class="box"> 
        <span>Ordered</span>{{orderDetails.date_created | date: 'dd/MM/YYYY'}}
      </div> -->
    </div>
    <div class="delivered">
      <img src="../../assets/images/delivered.png" alt="">
      <p>{{orderDetails.status}}</p>
    </div>
    <div class="prod-dt">
      <h6 class="title">Product Details</h6>
      <ion-grid class="no-padding pro-details">
        <ion-row class="head">
          <ion-col><h4 class="pro-nm">Product</h4></ion-col>
          <ion-col><h3 class="pro-price"></h3></ion-col>
        </ion-row>
        <!--DYNAMIC-->
        <ion-row *ngFor="let products of orderDetails.line_items; let i=index;">
          <ion-col><h4 class="pro-nm">{{products.name}} x {{products.quantity}}</h4></ion-col>
          <ion-col><h3 class="pro-price">R{{products.subtotal}}</h3></ion-col>
        </ion-row>
        <!--DYNAMIC-->
        <ion-row class="total-row">
          <ion-col><h4 class="pro-nm">Discount</h4></ion-col>
          <ion-col><h3 class="pro-price">R{{orderDetails.discount_total}}</h3></ion-col>
        </ion-row>
        <ion-row class="total-row">
          <ion-col><h4 class="pro-nm">Credit</h4></ion-col>
          <ion-col><h3 class="pro-price">R{{totalCreditUsed}}</h3></ion-col>
        </ion-row>
        <ion-row class="total-row">
          <ion-col><h4 class="pro-nm">Shipping</h4></ion-col>
          <ion-col><h3 class="pro-price">R{{orderDetails.shipping_total}}</h3></ion-col>
        </ion-row>
        <ion-row class="total-row" *ngIf="isOrderHasTax==true">
          <ion-col>
            <h4 class="pro-nm" *ngFor="let taxes of orderDetails.tax_lines;">
              <span [ngClass]="{'hideme' : taxes.tax_total == 0}" [showHideRow(taxes.tax_total)]>{{taxes.label}}</span>
            </h4>
          </ion-col>
          <ion-col>
            <h3 class="pro-price" *ngFor="let taxes of orderDetails.tax_lines;">
              <span [ngClass]="{'hideme' : taxes.tax_total == 0}" [showHideRow(taxes.tax_total)]>R{{taxes.tax_total}}</span>
            </h3>
          </ion-col>
        </ion-row>
        <ion-row class="total-row">
          <ion-col><h4 class="pro-nm">Total</h4></ion-col>
          <ion-col><h3 class="pro-price">R{{orderDetails.total}}</h3></ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <!--ALTERNATIVES-->
    <div class="prod-dt">
      <h6 class="title">Additional information</h6>
      <ion-grid class="no-padding additional-info">
        <ion-row class="head">
          <ion-col size="12"><h6>Information</h6></ion-col>        
        </ion-row>
        <!--DYNAMIC-->
        <ion-row *ngFor="let metadata of orderDetails.meta_data; let m=index;">
          <ion-col size="5" *ngIf="metadata.key=='_additional_wooccm1' && metadata.value != null && metadata.value != undefined && metadata.value != ''"><p>Alternative product option</p></ion-col>
          <ion-col size="7" *ngIf="metadata.key=='_additional_wooccm1' && metadata.value != null && metadata.value != undefined && metadata.value != ''"><p>{{metadata.value}}</p></ion-col>
          <ion-col size="5" *ngIf="metadata.key=='_billing_wooccm11' && metadata.value != null && metadata.value != undefined && metadata.value != ''"><p>Delivery location</p></ion-col>
          <ion-col size="7" *ngIf="metadata.key=='_billing_wooccm11' && metadata.value != null && metadata.value != undefined && metadata.value != ''"><p>{{metadata.value}}</p></ion-col>        
        </ion-row>
        <ion-row>
          <ion-col size="5" *ngIf="orderDetails.payment_method_title != null && orderDetails.payment_method_title != undefined && orderDetails.payment_method_title != ''"><p>Payment method selected</p></ion-col>
          <ion-col size="7" *ngIf="orderDetails.payment_method_title != null && orderDetails.payment_method_title != undefined && orderDetails.payment_method_title != ''"><p>{{orderDetails.payment_method_title}}</p></ion-col>
          <!--<ion-col size="5" *ngIf="orderDetails.transaction_id != null && orderDetails.transaction_id != undefined && orderDetails.transaction_id != ''">Transaction ID</ion-col>
          <ion-col size="7" *ngIf="orderDetails.transaction_id != null && orderDetails.transaction_id != undefined && orderDetails.transaction_id != ''">{{orderDetails.transaction_id}}</ion-col>-->
        </ion-row>
        <!--DYNAMIC-->
      </ion-grid>
    </div>
    <!--ALTERNATIVES-->
    <div class="ord-dt ord-address">
      <p><span class="title">Shipping Address : </span>{{shippingDetails.address_1}} , {{shippingDetails.city}} , {{shippingDetails.postcode}} , {{shippingDetails.state}} ,<br />South Africa</p>
      <p><span class="title">Billing Address : </span>{{billingDetails.address_1}} , {{billingDetails.city}} , {{billingDetails.postcode}} , {{billingDetails.state}} ,<br />South Africa<br />{{billingDetails.phone}}<br /><a href="mailto:{{billingDetails.email}}">{{billingDetails.email}}</a></p>
    </div>
  </div>
</ion-content>
