<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="main-div">
    <img class="logo-main" src="../../assets/images/no-image.png">
    <form [formGroup]="loginForm" (ngSubmit)="makeMeLoggedin(loginForm.value)">
      <ion-list lines="none"> 
        <ion-item no-line color="light">
          <ion-input type="email" placeholder="EMAIL ADDRESS" formControlName="username" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"></ion-input>
        </ion-item>      
        <ion-item no-line color="light">
          <ion-input [type]="passwordType" placeholder="PASSWORD" formControlName="password"></ion-input>
          <ion-icon [name]="passwordIcon" (click)='hideShowPassword()'></ion-icon>
        </ion-item>
      </ion-list>
      <ion-button type="submit" color="primary" expand="block" [disabled]="!loginForm.valid">SIGN IN</ion-button>
    </form>
    <ion-item lines="none" class="link-item">
      <ion-router-link href="https://apronbutchery.co.za/my-account/lost-password/" target="_blank">Forgot Password?</ion-router-link>
    </ion-item>
    <ion-item lines="none" class="link-item">
      <ion-router-link routerDirection="root" routerLink="/register"><strong>SIGN UP</strong></ion-router-link>
    </ion-item>
  </div>
</ion-content>
