<ion-header class="most-used-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" slot="start"><img class="logo-main" src="../../assets/images/menu-icon.svg"></ion-menu-button>     
    </ion-buttons>
    <ion-title>Contact</ion-title>
    <ion-button slot="end" routerDirection="root" routerLink="/search">
      <ion-icon name="search-outline"></ion-icon>
    </ion-button>
    <ion-button slot="end" class="cart-btn" routerDirection="root" routerLink="/cart">
      <img src="../../assets/images/cart-icon1.png">
      <span class="cart-item-no">{{number_of_products_in_cart}}</span>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="make-black">
  <div class="main-div">
    <div class="title-main">
      <h2>The Apron</h2>
    </div>
    <ion-grid>
      <!-- <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="10">
          <h4>THE APRON</h4>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col>
          <ion-icon name="location-outline"></ion-icon>
        </ion-col>
        <ion-col>
          <p>1 Ridgeway Avenue,<br />
          Shopping on Ridgeway, Shop 20,<br />
          Midstream Ridge,<br />
          Olifantsfontein, 1692</p>
        </ion-col>
      </ion-row>
      <ion-row class="align-center">
        <ion-col>
          <ion-icon name="call-outline"></ion-icon>
        </ion-col>
        <ion-col>
          <p>+2712 945 4057</p>
        </ion-col>
      </ion-row>
      <ion-row class="align-center">
        <ion-col>
          <ion-icon name="mail-outline"></ion-icon>
        </ion-col>
        <ion-col>
          <p>online@apronbutchery.co.za</p>
        </ion-col>
      </ion-row>
      <!--<ion-row>
        <ion-col size="2">
          <ion-icon name="time-outline"></ion-icon>
        </ion-col>
        <ion-col size="10" class="text-general">
          <strong>LOCKDOWN HOURS:</strong> Normal hours<br />
          <strong>Mon-Fri:</strong> 07h30 – 20h00<br />
          <strong>Saturday:</strong> 07h30 – 20h00<br />
          <strong>Sunday:</strong> 07h30 – 20h00<br />
          <strong>Public Holidays:</strong> 07h30 – 20h00<br />
          <strong>Note:</strong> CLOSED CHRISTMAS DAY<br />
        </ion-col>
      </ion-row>-->
      <ion-row class="align-center">
        <ion-col>
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-col>
        <ion-col (click)="openActionRequested('https://www.facebook.com/Apron.ButcheryandDeli/')">
          <p><strong>VISIT US ON FACEBOOK</strong></p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
