ion-header {
	ion-toolbar {
		padding-left: 15px;
		ion-buttons {}
	}
}
ion-content {
	--background: transparent;
	.category-list-slider {
		width: 100%;
		padding: 15px 0px 10px 25px;
		ion-slides {
			ion-slide {
				ion-grid {
				    width: 100%;
				    padding: 0px 0px 0px 5px;
				    margin: 0px 10px 0px 0px;
				    // background-color: var(--Black);
				    border: 1px solid #fff;
    				border-radius: 0px 0px 9px 9px;
    				overflow: hidden;
    				background-color: var(--White);
    				box-shadow: 0px 5px 3.5px rgb(0 0 0 / 36%);
    				&.active-category {
    					border-color: #D12031;
    				}
					ion-row {
						ion-col {
							ion-img {
								max-width: 100%;
								width: 100%;
								// height: 54px;
								height: 100%;
								max-height: 100%;
								object-fit: cover;
								object-position: center;
								background-color: #fff;
							}
							h4 {
								width: 96%;
								// text-align: center;
								text-align: left;
								// color: var(--White);
								color: var(--Black);
								font-size: 12px;
								line-height: 14px;
								font-family: var(--font-Roboto-Regular);
								margin: 8px auto;
    							padding: 0px 4px 0px 0px;
    							min-height: 42px;
    							display: flex;
							    justify-content: flex-start;
							    align-items: center;
							    word-break: break-word;
							}
						}
					}
				}
			}
		}
	}
	ion-list {
		width: 100%;
		padding: 10px 25px 25px;
		ion-item {
			ion-grid {
				ion-row {
					ion-col {
						ion-grid {
							height: 100%;
						    max-height: 100%;
						    min-height: 100%;
							ion-row {
								&.pro-vertical-box {
									width: 92%;
									max-height: 100%;
								    min-height: -webkit-fill-available;
								    min-height: -moz-fill-available;
								    min-height: -ms-fill-available;
								    min-height: -o-fill-available;
								    height: -webkit-fill-available;
								    height: -moz-fill-available;
								    height: -ms-fill-available;
								    height: -o-fill-available;
									margin-bottom: 26px;
									padding: 10px 0px 0px;
									ion-col {
										ion-img {
											max-width: 100%;
										    width: calc(100% - 20px);
										    height: 85px;
										    object-fit: cover;
										    object-position: center;
										    margin: 0px auto;
										}
										.pro-nm {
											width: calc(100% - 20px);
											margin: 16px auto 10px;
											min-height: 45px;
										}
										.pro-price {
											width: calc(100% - 20px);
											margin: 0px auto 14px;
											min-height: unset;
											@media(max-width:355px) {
												font-size: 14px;
												line-height: 14px;
											}
										}
										ion-button {
											&.cart-icon-btn {
												--background-activated: #000000;
								                --background-focused: #000000;
								                --background-hover: #000000;
								                --color-activated: #ffffff;
								                --color-focused: #ffffff;
								                --color-hover: #ffffff;
											}
										}
										&.last-btn {
											display: flex;
											flex-wrap: wrap;
											align-items: flex-end;
										}
									}
								}
							}
						}
						&:nth-child(odd) .pro-vertical-box {
							margin-right: auto;
						}
						&:nth-child(even) .pro-vertical-box {
							margin-left: auto;
						}
					}
				}
			}
		}
		.btn-sec {
			width: 100%;
		    text-align: center;
		    padding: 10px 0px 20px;
		    margin: 0px;
			ion-button {
				&.load-mre {
					width: 100%;
	                max-width: 100%;
	                min-width: 100%;
	                font-size: 20px;
	                height: 51px;
	                line-height: 51px;
	                --border-radius: 30px;
	                border-radius: 30px;
	                border: 1px solid #fff;
	                text-transform: capitalize;
	                letter-spacing: normal;
	                --box-shadow: none;
	                font-family: var(--font-Roboto-Bold);
	                margin: 0px;
	                --padding-start: 20px;
	                --padding-end: 20px;
	                position: relative;
	                --background-activated: #D12031;
	                --background-focused: #D12031;
	                --background-hover: #D12031;
	                --color-activated: #ffffff;
	                --color-focused: #ffffff;
	                --color-hover: #ffffff;
				}
			}
		}
	}
}