<ion-header class="most-used-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" slot="start">
        <img class="logo-main" src="../../assets/images/menu-icon.png">
      </ion-menu-button>     
    </ion-buttons>
    <ion-title>Cart</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <p *ngIf="cartArray.length == 0">Your cart is empty!</p>
  <ion-grid *ngIf="cartArray.length > 0">
    <ion-row>
      <ion-col size="8">Number of products in cart</ion-col>
      <ion-col size="3">{{cartArray.length}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">Cart Total</ion-col>
      <ion-col size="3">R{{cartTotal | number:'1.2-2'}}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="cartArray.length > 0">
    <ion-row *ngFor="let product of cartArray; let p = index;">
      <ion-col>
        <ion-img src="{{product.product_im}}"></ion-img>
      </ion-col>
      <ion-col>
        {{product.product_nm}}
        <span>R{{product.product_pr | number:'1.2-2'}}</span>
      </ion-col>
      <ion-col>
        <div class="pro-quantity-input">
          <input class="minus" type="button" value="-" (click)="decreaseQuantity(product)">
          <input class="input-number" type="number" min="1" max="100" value="{{product.product_qt}}" name="{{product.product_id}}">                
          <input class="plus" type="button" value="+" (click)="increaseQuantity(product)">
        </div>
      </ion-col>
      <ion-col><span>R{{cartCalculationArray[p].product_to | number:'1.2-2'}}</span></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
