<ion-header class="most-used-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" slot="start">
        <img class="logo-main" src="../../assets/images/menu-icon.svg">
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Cart</ion-title>
    <ion-button slot="end" routerDirection="root" routerLink="/search">
      <ion-icon name="search-outline"></ion-icon>
    </ion-button>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <p *ngIf="cartArray.length == 0">Your cart is empty!</p>
  <ion-grid *ngIf="cartArray.length > 0" class="cart-top-details">
    <!--<ion-row>
      <ion-col size="9">Number of products in cart</ion-col>
      <ion-col size="3" class="ion-text-right">{{cartArray.length}}</ion-col>
    </ion-row>-->
    <ion-row>
      <ion-col size="9">Cart Total</ion-col>
      <ion-col size="3" class="ion-text-right">R{{cartTotal | number:'1.2-2'}}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="cartArray.length > 0" class="pro-horizontal-box-list">
    <ion-row *ngFor="let product of cartArray; let p = index;" class="pro-horizontal-box">
      <ion-col class="pro-img-sec">
        <ion-img src="{{product.product_im}}"></ion-img>
      </ion-col>
      <ion-col class="pro-nm-quantity-sec">
        <h4 class="pro-nm">{{product.product_nm}}
          <br />R{{product.product_pr | number:'1.2-2'}}
        </h4>
        <div class="pro-quantity-input">
          <input class="minus" type="button" value="-" (click)="decreaseQuantity(product)">
          <input class="input-number" type="number" min="1" max="100" value="{{product.product_qt}}" name="{{product.product_id}}">                
          <input class="plus" type="button" value="+" (click)="increaseQuantity(product)">
        </div>
      </ion-col>
      <ion-col class="pro-del-price-sec">
        <h3 class="pro-price"><span>R{{cartCalculationArray[p].product_to | number:'1.2-2'}}</span></h3>
        <ion-button color="primary" (click)="removeFromCart(product.product_id,product.product_pr)">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="btn-sec">
      <ion-col size="12">
        <ion-button color="primary" routerDirection="root" routerLink="/checkout">CHECKOUT</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
